
<div>
    <h2><span data-translate="geofaraApp.poi.detail.title">Poi</span> {{vm.poi.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.poi.name">Name</span></dt>
        <dd>
            <span>{{vm.poi.name}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.description">Description</span></dt>
        <dd>
            <span>{{vm.poi.description}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.poi.latitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.poi.longitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.poi.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.poi.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.poi.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poi.poiCollection">Poi Collection</span></dt>
        <dd>
            <a ui-sref="poi-collection-detail({id:vm.poi.poiCollectionId})">{{vm.poi.poiCollectionName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="poi-detail.edit({id:vm.poi.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
