<div>
    <h2 data-translate="geofaraApp.poi.home.title">Pois</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="poi.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="geofaraApp.poi.home.createLabel">
                        Create new Poi
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="geofaraApp.poi.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="geofaraApp.poi.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="geofaraApp.poi.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="geofaraApp.poi.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span data-translate="geofaraApp.poi.createdAt">Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span data-translate="geofaraApp.poi.updatedAt">Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deletedAt"><span data-translate="geofaraApp.poi.deletedAt">Deleted At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="poiCollectionName"><span data-translate="geofaraApp.poi.poiCollection">Poi Collection</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="poi in vm.pois track by poi.id">
                    <td><a ui-sref="poi-detail({id:poi.id})">{{poi.id}}</a></td>
                    <td>{{poi.name}}</td>
                    <td>{{poi.description}}</td>
                    <td>{{poi.latitude}}</td>
                    <td>{{poi.longitude}}</td>
                    <td>{{poi.createdAt | date:'medium'}}</td>
                    <td>{{poi.updatedAt | date:'medium'}}</td>
                    <td>{{poi.deletedAt | date:'medium'}}</td>
                    <td>
                        <a ui-sref="poi-collection-detail({id:poi.poiCollectionId})">{{poi.poiCollectionName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="poi-detail({id:poi.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="poi.edit({id:poi.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="poi.delete({id:poi.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
