<div>
    <h2 data-translate="geofaraApp.userText.home.title">User Texts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-text.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="geofaraApp.userText.home.createLabel">
                        Create new User Text
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="geofaraApp.userText.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="text"><span data-translate="geofaraApp.userText.text">Text</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="geofaraApp.userText.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="geofaraApp.userText.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span data-translate="geofaraApp.userText.createdAt">Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span data-translate="geofaraApp.userText.updatedAt">Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deletedAt"><span data-translate="geofaraApp.userText.deletedAt">Deleted At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdByLogin"><span data-translate="geofaraApp.userText.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="userText in vm.userTexts track by userText.id">
                    <td><a ui-sref="user-text-detail({id:userText.id})">{{userText.id}}</a></td>
                    <td>{{userText.title}}</td>
                    <td>{{userText.text}}</td>
                    <td>{{userText.latitude}}</td>
                    <td>{{userText.longitude}}</td>
                    <td>{{userText.createdAt | date:'medium'}}</td>
                    <td>{{userText.updatedAt | date:'medium'}}</td>
                    <td>{{userText.deletedAt | date:'medium'}}</td>
                    <td>
                        {{userText.createdByLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-text-detail({id:userText.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-text.edit({id:userText.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-text.delete({id:userText.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
