
<div>
    <h2><span data-translate="geofaraApp.userText.detail.title">User Text</span> {{vm.userText.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.userText.title">Title</span></dt>
        <dd>
            <span>{{vm.userText.title}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.text">Text</span></dt>
        <dd>
            <span>{{vm.userText.text}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.userText.latitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.userText.longitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.userText.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.userText.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.userText.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userText.createdBy">Created By</span></dt>
        <dd>
            {{vm.userText.createdByLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-text-detail.edit({id:vm.userText.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
