
<div>
    <h2><span data-translate="geofaraApp.userGroup.detail.title">User Group</span> {{vm.userGroup.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.userGroup.name">Name</span></dt>
        <dd>
            <span>{{vm.userGroup.name}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userGroup.description">Description</span></dt>
        <dd>
            <span>{{vm.userGroup.description}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userGroup.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.userGroup.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userGroup.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.userGroup.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userGroup.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.userGroup.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userGroup.user">User</span></dt>
        <dd>
            <span ng-repeat="user in vm.userGroup.users">
                {{user.login}}{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-group-detail.edit({id:vm.userGroup.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
