
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserActionLabel" data-translate="geofaraApp.userAction.home.createOrEditLabel">Create or edit a User Action</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userAction.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userAction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.tag" for="field_tag">Tag</label>
            <input type="text" class="form-control" name="tag" id="field_tag"
                    ng-model="vm.userAction.tag"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.viewGroup" for="field_viewGroup">View Group</label>
            <input type="text" class="form-control" name="viewGroup" id="field_viewGroup"
                    ng-model="vm.userAction.viewGroup"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.rootView" for="field_rootView">Root View</label>
            <input type="text" class="form-control" name="rootView" id="field_rootView"
                    ng-model="vm.userAction.rootView"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                    ng-model="vm.userAction.action"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.inputX" for="field_inputX">Input X</label>
            <input type="number" class="form-control" name="inputX" id="field_inputX"
                    ng-model="vm.userAction.inputX"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.inputY" for="field_inputY">Input Y</label>
            <input type="number" class="form-control" name="inputY" id="field_inputY"
                    ng-model="vm.userAction.inputY"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.userAction.latitude"
                    required/>
            <div ng-show="editForm.latitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.latitude.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.latitude.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.userAction.longitude"
                    required/>
            <div ng-show="editForm.longitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.longitude.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.longitude.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.createdAt" for="field_createdAt">Created At</label>
                <div class="input-group">
                    <input id="field_createdAt" type="text" class="form-control" name="createdAt" datetime-picker="{{dateformat}}" ng-model="vm.userAction.createdAt" is-open="vm.datePickerOpenStatus.createdAt"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createdAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdAt.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createdAt.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.updatedAt" for="field_updatedAt">Updated At</label>
                <div class="input-group">
                    <input id="field_updatedAt" type="text" class="form-control" name="updatedAt" datetime-picker="{{dateformat}}" ng-model="vm.userAction.updatedAt" is-open="vm.datePickerOpenStatus.updatedAt"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.updatedAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.updatedAt.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.updatedAt.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userAction.deletedAt" for="field_deletedAt">Deleted At</label>
                <div class="input-group">
                    <input id="field_deletedAt" type="text" class="form-control" name="deletedAt" datetime-picker="{{dateformat}}" ng-model="vm.userAction.deletedAt" is-open="vm.datePickerOpenStatus.deletedAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deletedAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="geofaraApp.userAction.createdBy" for="field_createdBy">Created By</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="vm.userAction.createdById" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
