
<div>
    <h2><span data-translate="geofaraApp.userAction.detail.title">User Action</span> {{vm.userAction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.userAction.tag">Tag</span></dt>
        <dd>
            <span>{{vm.userAction.tag}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.viewGroup">View Group</span></dt>
        <dd>
            <span>{{vm.userAction.viewGroup}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.rootView">Root View</span></dt>
        <dd>
            <span>{{vm.userAction.rootView}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.action">Action</span></dt>
        <dd>
            <span>{{vm.userAction.action}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.inputX">Input X</span></dt>
        <dd>
            <span>{{vm.userAction.inputX}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.inputY">Input Y</span></dt>
        <dd>
            <span>{{vm.userAction.inputY}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.userAction.latitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.userAction.longitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.userAction.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.userAction.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.userAction.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userAction.createdBy">Created By</span></dt>
        <dd>
            {{vm.userAction.createdByLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-action-detail.edit({id:vm.userAction.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
