<div>
    <h2 data-translate="geofaraApp.userAction.home.title">User Actions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-action.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="geofaraApp.userAction.home.createLabel">
                        Create new User Action
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tag"><span data-translate="geofaraApp.userAction.tag">Tag</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="viewGroup"><span data-translate="geofaraApp.userAction.viewGroup">View Group</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rootView"><span data-translate="geofaraApp.userAction.rootView">Root View</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="action"><span data-translate="geofaraApp.userAction.action">Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputX"><span data-translate="geofaraApp.userAction.inputX">Input X</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputY"><span data-translate="geofaraApp.userAction.inputY">Input Y</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="geofaraApp.userAction.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="geofaraApp.userAction.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span data-translate="geofaraApp.userAction.createdAt">Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span data-translate="geofaraApp.userAction.updatedAt">Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deletedAt"><span data-translate="geofaraApp.userAction.deletedAt">Deleted At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdByLogin"><span data-translate="geofaraApp.userAction.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="userAction in vm.userActions track by userAction.id">
                    <td><a ui-sref="user-action-detail({id:userAction.id})">{{userAction.id}}</a></td>
                    <td>{{userAction.tag}}</td>
                    <td>{{userAction.viewGroup}}</td>
                    <td>{{userAction.rootView}}</td>
                    <td>{{userAction.action}}</td>
                    <td>{{userAction.inputX}}</td>
                    <td>{{userAction.inputY}}</td>
                    <td>{{userAction.latitude}}</td>
                    <td>{{userAction.longitude}}</td>
                    <td>{{userAction.createdAt | date:'medium'}}</td>
                    <td>{{userAction.updatedAt | date:'medium'}}</td>
                    <td>{{userAction.deletedAt | date:'medium'}}</td>
                    <td>
                        {{userAction.createdByLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-action-detail({id:userAction.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-action.edit({id:userAction.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-action.delete({id:userAction.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
