<div>
    <h2 data-translate="geofaraApp.poiCollection.home.title">Poi Collections</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="poi-collection.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="geofaraApp.poiCollection.home.createLabel">
                        Create new Poi Collection
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="geofaraApp.poiCollection.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="geofaraApp.poiCollection.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span data-translate="geofaraApp.poiCollection.createdAt">Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span data-translate="geofaraApp.poiCollection.updatedAt">Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deletedAt"><span data-translate="geofaraApp.poiCollection.deletedAt">Deleted At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdByLogin"><span data-translate="geofaraApp.poiCollection.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="poiCollection in vm.poiCollections track by poiCollection.id">
                    <td><a ui-sref="poi-collection-detail({id:poiCollection.id})">{{poiCollection.id}}</a></td>
                    <td>{{poiCollection.name}}</td>
                    <td>{{poiCollection.description}}</td>
                    <td>{{poiCollection.createdAt | date:'medium'}}</td>
                    <td>{{poiCollection.updatedAt | date:'medium'}}</td>
                    <td>{{poiCollection.deletedAt | date:'medium'}}</td>
                    <td>
                        {{poiCollection.createdByLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="poi-collection-detail({id:poiCollection.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="poi-collection.edit({id:poiCollection.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="poi-collection.delete({id:poiCollection.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
