
<div>
    <h2><span data-translate="geofaraApp.poiCollection.detail.title">Poi Collection</span> {{vm.poiCollection.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.poiCollection.name">Name</span></dt>
        <dd>
            <span>{{vm.poiCollection.name}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poiCollection.description">Description</span></dt>
        <dd>
            <span>{{vm.poiCollection.description}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poiCollection.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.poiCollection.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poiCollection.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.poiCollection.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poiCollection.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.poiCollection.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.poiCollection.createdBy">Created By</span></dt>
        <dd>
            {{vm.poiCollection.createdByLogin}}
        </dd>
        <dt><span data-translate="geofaraApp.poiCollection.owningUserGroup">Owning User Group</span></dt>
        <dd>
            <span ng-repeat="owningUserGroup in vm.poiCollection.owningUserGroups">
                <a ui-sref="user-group-detail({id: owningUserGroup.id})">{{owningUserGroup.name}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="poi-collection-detail.edit({id:vm.poiCollection.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
