
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserImageLabel" data-translate="geofaraApp.userImage.home.createOrEditLabel">Create or edit a User Image</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userImage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userImage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.userImage.title"
                    required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.userImage.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.imageType" for="field_imageType">Image Type</label>
            <select class="form-control" name="imageType" ng-model="vm.userImage.imageType" id="field_imageType">
                <option value="SCREENSHOT" data-translate="geofaraApp.ImageType.SCREENSHOT">SCREENSHOT</option>
                <option value="PHOTO" data-translate="geofaraApp.ImageType.PHOTO">PHOTO</option>
            </select>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.userImage)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="geofaraApp.userImage.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.userImage.imageContentType + ';base64,' + vm.userImage.image}}" style="max-height: 100px;" ng-if="vm.userImage.image" alt="userImage image"/>
                <div ng-if="vm.userImage.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.userImage.imageContentType}}, {{vm.byteSize(vm.userImage.image)}}</span>
                    <button type="button" ng-click="vm.userImage.image=null;vm.userImage.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.userImage)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.userImage.image"
                    required/>
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.userImage.imageContentType" />
            <div ng-show="editForm.image.$invalid">
                <p class="help-block"
                    ng-show="editForm.image.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.userImage.latitude"
                    required/>
            <div ng-show="editForm.latitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.latitude.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.latitude.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.userImage.longitude"
                    required/>
            <div ng-show="editForm.longitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.longitude.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.longitude.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.createdAt" for="field_createdAt">Created At</label>
                <div class="input-group">
                    <input id="field_createdAt" type="text" class="form-control" name="createdAt" datetime-picker="{{dateformat}}" ng-model="vm.userImage.createdAt" is-open="vm.datePickerOpenStatus.createdAt"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.createdAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.createdAt.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.createdAt.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.updatedAt" for="field_updatedAt">Updated At</label>
                <div class="input-group">
                    <input id="field_updatedAt" type="text" class="form-control" name="updatedAt" datetime-picker="{{dateformat}}" ng-model="vm.userImage.updatedAt" is-open="vm.datePickerOpenStatus.updatedAt"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.updatedAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.updatedAt.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.updatedAt.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="geofaraApp.userImage.deletedAt" for="field_deletedAt">Deleted At</label>
                <div class="input-group">
                    <input id="field_deletedAt" type="text" class="form-control" name="deletedAt" datetime-picker="{{dateformat}}" ng-model="vm.userImage.deletedAt" is-open="vm.datePickerOpenStatus.deletedAt"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('deletedAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="geofaraApp.userImage.createdBy" for="field_createdBy">Created By</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="vm.userImage.createdById" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="geofaraApp.userImage.poi" for="field_poi">Poi</label>
            <select class="form-control" id="field_poi" name="poi" ng-model="vm.userImage.poiId" ng-options="poi.id as poi.id for poi in vm.pois"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="geofaraApp.userImage.poiCollection" for="field_poiCollection">Poi Collection</label>
            <select class="form-control" id="field_poiCollection" name="poiCollection" ng-model="vm.userImage.poiCollectionId" ng-options="poiCollection.id as poiCollection.id for poiCollection in vm.poicollections"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
