
<div>
    <h2><span data-translate="geofaraApp.userImage.detail.title">User Image</span> {{vm.userImage.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.userImage.title">Title</span></dt>
        <dd>
            <span>{{vm.userImage.title}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.description">Description</span></dt>
        <dd>
            <span>{{vm.userImage.description}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.imageType">Image Type</span></dt>
        <dd>
            <span data-translate="{{'geofaraApp.ImageType.' + vm.userImage.imageType}}">{{vm.userImage.imageType}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.image">Image</span></dt>
        <dd>
            <div ng-if="vm.userImage.image">
                <a ng-click="vm.openFile(vm.userImage.imageContentType, vm.userImage.image)">
                    <img data-ng-src="{{'data:' + vm.userImage.imageContentType + ';base64,' + vm.userImage.image}}" style="max-width: 100%;" alt="userImage image"/>
                </a>
                {{vm.userImage.imageContentType}}, {{vm.byteSize(vm.userImage.image)}}
            </div>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.userImage.latitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.userImage.longitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.userImage.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.userImage.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.userImage.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.createdBy">Created By</span></dt>
        <dd>
            {{vm.userImage.createdByLogin}}
        </dd>
        <dt><span data-translate="geofaraApp.userImage.poi">Poi</span></dt>
        <dd>
            <a ui-sref="poi-detail({id:vm.userImage.poiId})">{{vm.userImage.poiId}}</a>
        </dd>
        <dt><span data-translate="geofaraApp.userImage.poiCollection">Poi Collection</span></dt>
        <dd>
            <a ui-sref="poi-collection-detail({id:vm.userImage.poiCollectionId})">{{vm.userImage.poiCollectionId}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-image-detail.edit({id:vm.userImage.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
