<div>
    <h2 data-translate="geofaraApp.userImage.home.title">User Images</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-image.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="geofaraApp.userImage.home.createLabel">
                        Create new User Image
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="geofaraApp.userImage.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="geofaraApp.userImage.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageType"><span data-translate="geofaraApp.userImage.imageType">Image Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="geofaraApp.userImage.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="geofaraApp.userImage.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="geofaraApp.userImage.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span data-translate="geofaraApp.userImage.createdAt">Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span data-translate="geofaraApp.userImage.updatedAt">Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deletedAt"><span data-translate="geofaraApp.userImage.deletedAt">Deleted At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdByLogin"><span data-translate="geofaraApp.userImage.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="poiId"><span data-translate="geofaraApp.userImage.poi">Poi</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="poiCollectionId"><span data-translate="geofaraApp.userImage.poiCollection">Poi Collection</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="userImage in vm.userImages track by userImage.id">
                    <td><a ui-sref="user-image-detail({id:userImage.id})">{{userImage.id}}</a></td>
                    <td>{{userImage.title}}</td>
                    <td>{{userImage.description}}</td>
                    <td data-translate="{{'geofaraApp.ImageType.' + userImage.imageType}}">{{userImage.imageType}}</td>
                    <td>
                        <a ng-if="userImage.image" ng-click="vm.openFile(userImage.imageContentType, userImage.image)">
                            <img data-ng-src="{{'data:' + userImage.imageContentType + ';base64,' + userImage.image}}" style="max-height: 30px;" alt="userImage image"/>
                        </a>
                        <span ng-if="userImage.image">{{userImage.imageContentType}}, {{vm.byteSize(userImage.image)}}</span>
                    </td>
                    <td>{{userImage.latitude}}</td>
                    <td>{{userImage.longitude}}</td>
                    <td>{{userImage.createdAt | date:'medium'}}</td>
                    <td>{{userImage.updatedAt | date:'medium'}}</td>
                    <td>{{userImage.deletedAt | date:'medium'}}</td>
                    <td>
                        {{userImage.createdByLogin}}
                    </td>
                    <td>
                        <a ui-sref="poi-detail({id:userImage.poiId})">{{userImage.poiId}}</a>
                    </td>
                    <td>
                        <a ui-sref="poi-collection-detail({id:userImage.poiCollectionId})">{{userImage.poiCollectionId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-image-detail({id:userImage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-image.edit({id:userImage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-image.delete({id:userImage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
