
<div>
    <h2><span data-translate="geofaraApp.userActivity.detail.title">User Activity</span> {{vm.userActivity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="geofaraApp.userActivity.activity">Activity</span></dt>
        <dd>
            <span>{{vm.userActivity.activity}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.confidence">Confidence</span></dt>
        <dd>
            <span>{{vm.userActivity.confidence}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.userActivity.latitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.userActivity.longitude}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.accuracy">Accuracy</span></dt>
        <dd>
            <span>{{vm.userActivity.accuracy}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.createdAt">Created At</span></dt>
        <dd>
            <span>{{vm.userActivity.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{vm.userActivity.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.deletedAt">Deleted At</span></dt>
        <dd>
            <span>{{vm.userActivity.deletedAt | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="geofaraApp.userActivity.createdBy">Created By</span></dt>
        <dd>
            {{vm.userActivity.createdByLogin}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-activity-detail.edit({id:vm.userActivity.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
