<div>
    <h2 data-translate="geofaraApp.userActivity.home.title">User Activities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-activity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="geofaraApp.userActivity.home.createLabel">
                        Create new User Activity
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activity"><span data-translate="geofaraApp.userActivity.activity">Activity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="confidence"><span data-translate="geofaraApp.userActivity.confidence">Confidence</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span data-translate="geofaraApp.userActivity.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span data-translate="geofaraApp.userActivity.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accuracy"><span data-translate="geofaraApp.userActivity.accuracy">Accuracy</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span data-translate="geofaraApp.userActivity.createdAt">Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span data-translate="geofaraApp.userActivity.updatedAt">Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deletedAt"><span data-translate="geofaraApp.userActivity.deletedAt">Deleted At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdByLogin"><span data-translate="geofaraApp.userActivity.createdBy">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="userActivity in vm.userActivities track by userActivity.id">
                    <td><a ui-sref="user-activity-detail({id:userActivity.id})">{{userActivity.id}}</a></td>
                    <td>{{userActivity.activity}}</td>
                    <td>{{userActivity.confidence}}</td>
                    <td>{{userActivity.latitude}}</td>
                    <td>{{userActivity.longitude}}</td>
                    <td>{{userActivity.accuracy}}</td>
                    <td>{{userActivity.createdAt | date:'medium'}}</td>
                    <td>{{userActivity.updatedAt | date:'medium'}}</td>
                    <td>{{userActivity.deletedAt | date:'medium'}}</td>
                    <td>
                        {{userActivity.createdByLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-activity-detail({id:userActivity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-activity.edit({id:userActivity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-activity.delete({id:userActivity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
